::-webkit-scrollbar{
    width:10px;
  }
  ::-webkit-scrollbar-track {
  background:rgb(218, 218, 218);
  }
  ::-webkit-scrollbar-thumb{
    background-image: linear-gradient(rgb(241, 239, 239), rgb(35, 48, 126));
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(rgb(44, 46, 143) , white)
  }

.img {
    width:255px;
    height: 200px;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white url('assets/images/loader.gif') no-repeat center;
    z-index: 9999999999;
  }
/* How it works page */

.timeline {
    position: relative;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1px;
    background-color: #48d368;
  }
  
  .timeline-element {
    position: relative;
    width: 50%;
    padding: 1rem 0;
    padding-right: 2.5rem;
    text-align: right;
  }
  
  .timeline-element::before {
    content: '';
    position: absolute;
    right: -8px;
    top: 1.35rem;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fffefe;
    background-color: #48d368;
  }
  
  .timeline-element:nth-child(even)::before {
    right: auto;
    left: -8px;
  }
  
  .timeline-element:nth-child(even) {
    margin-left: 50%;
    padding-left: 2.5rem;
    padding-right: 0;
    text-align: left;
  }
  
  @media (max-width: 767.98px) {
    .timeline::before {
      left: 8px;
    }
  }
  
  @media (max-width: 767.98px) {
    .timeline-element {
      width: 100%;
      text-align: left;
      padding-left: 2.5rem;
      padding-right: 0;
    }
  }
  
  @media (max-width: 767.98px) {
    .timeline-element::before {
      top: 1.25rem;
      left: 1px;
    }
  }
  
  @media (max-width: 767.98px) {
    .timeline-element:nth-child(even) {
      margin-left: 0rem;
    }
  }
  
  @media (max-width: 767.98px) {
    .timeline-element {
      width: 100%;
      text-align: left;
      padding-left: 2.5rem;
      padding-right: 0;
    }
  }
  
  @media (max-width: 767.98px) {
    .timeline-element:nth-child(even)::before {
      left: 1px;
    }
  }
  
  @media (max-width: 767.98px) {
    .timeline-element::before {
      top: 1.25rem;
    }
  }